:root {
    --accent-color: #404BBF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFF;
}

.page-header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    
}

.logotype {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.logotype-studio {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.menu-link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* color: #404bbf; */
}

.hover-studio{
    position: relative;
    color: #404bbf;
}

.hover-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 48px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}


.address-list {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact-list-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--accent-color);
}

.title-page {
    max-width: 1440px;
    background-color: #2E2F42;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/title-page/people-office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.name-page {
    max-width: 496px;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.button-order-service {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order-service:hover,
.button-order-service:focus {
    background: var(--OCEAN, #404BBF);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc(100% - 3 * 24px / 4);
}

.container-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.benefits-menu-list {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.benefits-menu-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.employee-team {
    background-color: #F4F4FD;
}

.employee-page {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.employee-list {
    display: flex;
    gap: 24px;
}

.employee-card {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc(100% - 3 * 24px / 4);
}

.employee-img {
    background: lightgray -128.784px -0.151px / 197.563% 133.752% no-repeat;
}

.employee-card-content {
    padding-top: 32px;
    padding-bottom: 32px;
}

.employee-name {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.employee-position {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.social-employee {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-employee-list {
    width: 40px;
    height: 40px;
}

.social-employee-card {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.social-employee-card:hover,
.social-employee-card:focus {
    background-color: #404bbf;
}

.social-employee-icons {
    fill: #f4f4fd;
}

.directions-work {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.directions-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.directions-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.directions-item-img-wrapper {
    position: relative;
    overflow: hidden;
}

.directions-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--IRIS, #4D5AE5);
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.directions-item:hover,
.directions-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.directions-item:hover .directions-overlay,
.directions-item:focus .directions-overlay {
    transform: translateY(0%);
}

.directions-img {
    background: lightgray -25.026px 0px / 125% 100% no-repeat;
}

.directions-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.directions-service {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.directions-name {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.footer-bottom {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-logo {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    height: 24px;
    flex-shrink: 0;
    margin-bottom: 16px;
    height: 21px;
    justify-content: center;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logotype-studio-footer {
    width: 71px;
    height: 21px;
    justify-content: center;
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    width: 264px;
}

.footer-social-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFF;
    margin-bottom: 16px;
}

.footer-social-page {
    display: flex;
    gap: 16px;
}

.footer-social-list {
    width: 40px;
    height: 40px;
}

.footer-social-card {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;

}

.footer-social-card:hover,
.footer-social-card:focus {
    background-color: #31d0aa;
}

.footer-social-icons {
    fill: #f4f4fd;
} 

.footer-modal {
    margin-left: 80px;
}

.footer-modal-name {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF
}

.footer-modal-form {
    display: flex;
    gap: 24px;
}


.footer-modal-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.footer-modal-email::placeholder {
    color: #FFFFFF;
}

.footer-modal-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-modal-button:hover,
.footer-modal-button:focus {
    background: #404BBF;
}

.footer-modal-button-icon {
    margin-left: 16px;
}

/* Modal window */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border: none;
    padding: 0;
    line-height: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
    background-color: #404BBF;
    fill: #FFFFFF;
    outline: transparent;
    border: none;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal form */

.review-form-description {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-wrapper {
    margin-bottom: 8px;
}

.review-form-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.review-form-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.review-form-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus+.review-form-icon {
    fill: #4D5AE5;
}

.review-form-wrapper-comment {
    margin-bottom: 16px;
}

.review-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
    margin: 0;
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-comment:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.review-form-privacy-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    text-decoration-line: underline;
}

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.review-form-checkbox:checked + .review-form-checkbox-label > .review-form-own-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.review-form-checkbox:focus + .review-form-checkbox-label > .review-form-own-checkbox {
    outline: 1px solid #4D5AE5;
}

.review-form-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit:hover,
.review-form-submit:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
