@media screen and (max-width: 767px) {
    .footer-bottom {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    
    .footer-container-logo {
        text-align: center;
    }

    .footer-text {
        text-align: start;
        width: 288px;
        margin-bottom: 72px;
    }

    .footer-social {
        text-align: center;
        margin-bottom: 72px;
    }

    .footer-modal {
        text-align: center;
        justify-content: center;
    }

    .footer-modal-form {
        display: block;
    }

    .footer-modal-email {
        width: 288px;
    }

    .footer-modal-button {
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-bottom {
    background: #2E2F42;
}

.footer-container {
    display: flex;
} 

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    height: 21px;
    justify-content: center;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logotype-studio-footer {
    width: 71px;
    height: 21px;
    justify-content: center;
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFF;
    margin-bottom: 16px;
}

.footer-social-page {
    display: flex;
    gap: 16px;
}

.footer-social-list {
    width: 40px;
    height: 40px;
}

.footer-social-card {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-card:hover,
.footer-social-card:focus {
    background-color: #31d0aa;
}

.footer-social-icons {
    fill: #f4f4fd;
}

.footer-modal-name {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF
}

.footer-modal-email {
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.footer-modal-email::placeholder {
    color: #FFFFFF;
}

.footer-modal-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-modal-button:hover,
.footer-modal-button:focus {
    background: #404BBF;
}

.footer-modal-button-icon {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-bottom {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    } 

    .footer-container-link {
        display: flex;
        margin-bottom: 72px;
    }

    .footer-container-logo {
        margin-right: 24px;
    }

    .footer-text {
        width: 264px;
    }

    .footer-modal-link {
        width: 496px;
    }

    .footer-modal {
        display: block;
    }

    .footer-modal-form {
        display: flex;
        gap: 24px;
    }

    .footer-modal-email {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-bottom {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        flex-direction: row;
        align-items: baseline;
    }

    .footer-container-link {
        margin-bottom: 0;
        margin-right: 80px;
    }

    .footer-container-logo {
        margin-right: 120px;
    }

    .footer-text {
        width: 264px;
    }

    .footer-modal-link {
        width: 453px;
    }
}