@media screen and (max-width: 767px) {
    .menu-list {
        display: none;
    }

    .page-header {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
    }

    .address-list {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99999999999;
        width: 100%;
        height: 100%;
        padding: 72px 16px;
        background-color: #FFFFFF;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu.is-open {
        transform: translateX(0%);
    }

    .mobile-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        background-color: #e7e9fc;
        padding: 0;
        line-height: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close-btn:focus,
    .close-btn:hover {
        background-color: #404BBF;
        fill: #FFFFFF;
        outline: transparent;
        border: none;
    }

    .mobile-close-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-mobile {
        display: block;
        align-items: center;
    }

    .menu-list-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .menu-link-mobile {
        display: block;
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link-mobile:hover,
    .menu-link-mobile:focus {
        color: var(--accent-color);
    }

    .hover-studio {
        color: #404bbf;
    }

    .address-list-mobile {
        font-style: normal;
    }

    .contact-list-mobile {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        margin-bottom: 48px;
    }

    .contact-list-link-mobile {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #434455;
        line-height: 1.2;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-list-link-mobile:hover,
    .contact-list-link-mobile:focus {
        color: var(--accent-color);
    }

    .contact-list-link-mobile-tel {
        color: #404bbf;
    }

    .header-mobile-social-page {
        display: flex;
        gap: 40px;
    }

    .header-mobile-social-list {
        width: 40px;
        height: 40px;
    }

    .header-mobile-social-card {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;

    }

    .header-mobile-social-card:hover,
    .header-mobile-social-card:focus {
        background-color: #404bbf;
    }

    .header-mobile-social-icons {
        fill: #f4f4fd;
    }
}

.page-header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.page-header-container {
    display: flex;
    align-items: center;
}

.logotype {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.logotype-studio {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-mobile-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    fill: #2F2F37;
    margin-left: auto;
}

.header-mobile-button:hover,
.header-mobile-button:focus {
    stroke: #404BBF;
}

.header-mobile-icon {
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
    .header-mobile-button {
        display: none;
    }
    
    .mobile-menu {
        display: none;
    }

    .logotype {
        margin-right: 120px;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .menu-list {
        display: flex;
        gap: 40px;
    }
    .menu-link {
        display: block;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .hover-studio {
        position: relative;
        color: #404bbf;
    }

    .hover-studio::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 48px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .menu-link:hover,
    .menu-link:focus {
        color: var(--accent-color);
    }

    .address-list {
        font-style: normal;
        margin-left: auto;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }


    .contact-list-link {
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-list-link:hover,
    .contact-list-link:focus {
        color: var(--accent-color);
    }

}

@media screen and (min-width: 1158px) {
    .logotype {
        margin-right: 76px;
    }
    .contact-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .contact-list-link {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0;
    }
}
